*{
    box-sizing: border-box;
}

body{
  margin: 0;
}

#container{
  max-width:1200px;
  margin: 0 auto;
  background: fff;
  width: 100%;
}

.row:before,
.row:after{
  content: " ";
  display: table;
}

.row:after{
  clear:both;
}

[class*="column-"]{
  float: left;
  min-height: 80px;
  margin: 10px;
}

#special-box{
  background: #fff;
}

#row-b{
  background: #ef47c0;
}

.column-1{
  background: #fce705;
    width: calc(8.33%  -  20px);
}

.column-2{
  background: #bcf904;
  width: calc(16.66%  -  20px);
}

.column-3{
  background: #6fe8c7;
  width: calc(25%  -  20px);
}

.column-4{
  background: #48b5c3;
  width: calc(33.33% -  20px);
}

.column-5{
  background: #48b5c3;
  width: calc(41.66%  -  20px);
}

.column-6{
  background: #9d63e2;
  width: calc(50%  -  20px);
}

.column-8{
  background: #ffae00;
  width: calc(66.66%  -  20px);
}

.column-12{
  background: #ef47c0;
  width: calc(100%  -  20px);
}
